---
import Title from "@components/global/Title.astro";
---

<section>
	<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:py-32">
		<div>
			<Title title="Terms" subtitle="Last updated January 1, 2024" class="pb-10 pt-20 uppercase" />
		</div>
		<div class="prose-styles mt-12 lg:mt-24">
			<h2 id="description-all-the-terms-that-you-agree-to-when-you-sign-up-for-a-Majestico-product-">
				All the terms you agree to when using my website or projects..
			</h2>

			<p>
				Hi there — and thank you for visiting my portfolio! I build apps, AI tools, and creative digital projects to share my work, experiments, and ideas with the world. While this site is mostly a showcase of what I create, a few simple Terms of Service help keep everything running smoothly.
			</p>
			<p>
				When I say “I,” “me,” or “my,” I’m referring to Sreehari, the developer and designer behind this website and its projects.
			</p>
			<p>
				When I say “Services,” I’m referring to my personal projects, apps, and any tools, demos, or content shared through <a href="https://sree14hari.work">site</a>.
			</p>
			<p>
				My goal is to make this space a transparent, creative, and inspiring place for developers, learners, and tech enthusiasts alike.
			</p>

			<p>WIP.</p>

			<p>If you have any questions, you can reach me directly at 
  <a href="mailto:sreehari@r3actr.work">sreehari@r3actr.work</a>.
</p>

		</div>
	</div>
</section>
